@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  html{
    font-size: 6.5px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  html{
    font-size: 7px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html{
    font-size: 8px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html{
    font-size: 9px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html{
    font-size: 10px;
  }
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
          linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
          linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
          linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App{
  width: 50rem;
  border-radius: 30px;
  padding: 4rem;
  background-color: #fff;
  position: relative;
}

.App .result{
  text-align: center;
  font-size: 2rem;
}

.App .result button{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 1.5rem 3rem;
  font-size: 3rem;
  background-color: rgba(236, 17, 233, 0.68);
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
}
.App .result h2{
  margin-bottom: 0;
}

.App .result img{
  width: 15rem;
}


.App .progress{
  height: 1.5rem;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 2.5rem;
}

.App .progress__inner{
  height: 1.5rem;
  border-radius: 30px;
  width: 5rem;
  background: rgb(18, 231, 48);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.App:before, .App:after{
  content: '';
  display: block;
  height: 5rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 29rem;
  transform: translateX(-29rem);
}

.App:before{
  width: 55rem;
  bottom: -1rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

.App:after{
  width: 50rem;
  bottom: -2rem;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.App h1{
  margin: 0;
  font-size: 3rem;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App ul li{
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 2rem;
}

.App ul li:hover{
  border: 2px solid rgba(0, 0, 0, 0.3);
}
